:host {
  display: block;
}

 ion-grid {
}  

ion-col {
  padding: 0; 
  text-align: center;
}

.aas {
  background-color: #e3e3e3;
}

.bachelors {
 background-color: #b3b3b3;
}

p {
  font-weight: 600;
}
